<related-products class="cart-releated-products" data-query="{{query_string | strip }}" >
<section class="section hidden md:block section-related-product" style="--section-margin:60px 0; --section-margin-mb:20px 0">
<div class="container">
	<div class="heading-bar py-3 px-5 bg-background text-center rounded-sm mb-2">
			<h2 class="text-h4 font-semibold text-secondary">
					{{ settings.cart_collection_title }}
			</h2>
		</div>
		<div class="product-list grid grid-cols-2 lg:grid-cols-4 gap-gutter">
		</div>
	</div>
</section>
</related-products>