<error-popup class="portal portal--modal portal--modal-sm" id="error-modal" data-type="modal" data-animation="fade-in">
  <dialog class="portal-dialog">
    <div class="  flex items-start justify-end  p-3 w-full h-full">
      <div class="portal-overlay"></div>
      <div class="portal-inner animation ">
		  		
		  <div class="error-list flex gap-4 flex-col items-end">

		</div>
      </div>
    </div>
  </dialog>
</error-popup>