<div class="inventory-status">
	
{%- if product.selected_or_first_available_variant.inventory_management != blank -%}
{%- if product.selected_or_first_available_variant.inventory_quantity > 0 -%}
	{%- assign inventory_threshold =  settings.inventory_threshold | times: 1 -%}
  {%- if product.selected_or_first_available_variant.inventory_quantity <= inventory_threshold -%}
  <span class="font-semibold  text-warning flex items-center gap-1 ">

    {%- if settings.inventory_count_enabled -%}
      còn  {{product.selected_or_first_available_variant.inventory_quantity  }} sản phẩm
    {%- else -%}
    Sắp hết hàng
    {%- endif -%}
    </span>
  {%- else -%}
  <span class="font-semibold text-success flex items-center gap-1">
 <i class="icon icon-tick"></i>
    {%- if settings.inventory_count_enabled -%}
      còn  {{ product.selected_or_first_available_variant.inventory_quantity  }} sản phẩm
    {%- else -%}
      Sẵn trong kho
    {%- endif -%}
  {%- endif -%}
  </span>
{%- else -%}
  {%- if product.selected_or_first_available_variant.inventory_policy == 'continue' -%}
  <span class="font-semibold text-success flex items-center gap-1">
  <i class="icon icon-tick"></i>
    Sẵn trong kho
  </span>
  {%- else -%}
  <span class="font-semibold text-error">
  Hết hàng
  </span>
  {%- endif -%}
{%- endif -%}
{%- endif -%}
</div>