{% include 'section-styles', key: 'coupon' %}

<section class="section section-coupons" style="{{ section_style }}">
  <div class="container">
    <ega-carousel>
      <script data-type="swiper-params" type="application/json">
        {
          "speed": 1000,
          "spaceBetween": 8,
          "slidesPerView": 1,
		  "centerInsufficientSlides": true,
		  "preventClicks" : false,
		  
          "pagination": {
            "el": ".section-coupons .swiper-pagination",
            "clickable": true
          },
          "breakpoints": {
            "768": {
              "slidesPerView": 2.5
            },
            "1024": {
              "slidesPerView": 3.5
            },
            "1200": {
              "slidesPerView": 4
            }
          }
        }
      </script>
      <div class="swiper overflow-hidden w-full">
        <div class="swiper-wrapper max-w-max h-auto gap-gutter ">
			{%for i in (1..8)-%}
			{% include 'coupon-configs' -%}
			
			{%if show -%} 
			
			<div class="swiper-slide md:w-3/12 w-full" >
				{%include 'coupon-item' -%}
			</div>
			{%endif-%}
			{%endfor-%}
         
        </div>
        <div class="swiper-pagination static mt-2"></div>
      </div>
    </ega-carousel>
  </div>
</section>