<section class=" section content-wrapper"  style="--section-margin: 40px 0px 40px; --section-margin-mb: 0px 0px 20px">
  <div class="container">
	  <div class=" bg-background px-gutter lg:px-6 py-6 rounded-sm  relative">

	<div class="flex-col mx-auto gap-4 flex items-center justify-center">
	<img class="aspect-square object-contain" src="{{ '404.jpg' | asset_url }}" alt="320" width="320" height="320" />
	<h1 class="text-h4  font-semibold">
		TRANG KHÔNG ĐƯỢC TÌM THẤY
	</h1>
	<p>
		Thật tiếc! Trang của bạn yêu cầu không tồn tại.
	</p>
	<a class="btn font-semibold bg-primary text-white" href="/" title="Về trang chủ" >
				Về trang chủ					   
 </a>
</div>
</div>
	</div>
	
</section>