{% include 'breadcrumb' %}
<section class="section section-main-login">
  <div class="container">
    <div class="grid grid-cols-1  lg:grid-cols-custom justify-center gap-gutter" style="--grid-col: 50%">
      <div class="bg-background rounded-lg px-3 py-4 md:p-6 mb-6">
       	<div class=' text-center'>
				<h1 class="text-h4 font-semibold mb-2">Kích hoạt tài khoản</h1>
		</div>
		  	<div class="page-login py-3 ">
						<div id="login">
							<h2 class="text-center text-base font-semibold">
								
							</h2>
							  {% form 'reset_customer_password' %}
                  {% if form.errors.size > 0 %}
                   <div class="alert bg-relative rounded-sm text-error my-2 p-2">
                      {{ form.errors | default_errors }}
                    </div>
                  {% elsif form.posted_successfully %}
							
                     <div class="alert bg-relative rounded-sm text-success my-2 p-2"> Kích hoạt thành công</div>
                  {% endif %}
                  <div id="customer_password" class="form-group clearfix">
                    <label class="label block mb-1">Mật khẩu <span class="required">*</span></label>
                    <input type="password" value="" name="customer[password]" id="customer_password" class="form-input">
                  </div>
                  <div id="password_confirm" class="form-group clearfix mt-3">
                    <label class="label block mb-1">Xác nhận mật khẩu <span class="required">*</span></label>
                    <input
                      type="password"
                      value=""
                      name="customer[password_confirmation]"
                      id="customer_password_confirmation"
                      class="form-input"
                    >
                  </div>
                  <div class="action_bottom my-3 flex flex-col justify-center items-center gap-3 mt-5">
                    <button class="btn bg-primary text-white w-full font-semibold max-w-[32rem]  " type="submit" style="float: left; margin-right: 10px">
                      Đặt lại mật khẩu
                    </button>
                    <a
                      class="btn btn-link-style margin-left-10 f-left a-left cursor-pointer"
                      onclick="window.location.href='/'"
                      style="																																		 line-height: 38px;text-decoration: underline;"
                      >Hủy</a
                    >
                  </div>
                {% endform %}

						</div>
					</div>
      </div>
    </div>
  </div>
</section>