<!-- Intro màn hình mở đầu -->
<!--<div id="intro-screen" style="position: fixed; top:0; left:0; right:0; bottom:0; background: #191A1F; z-index: 999999; display: flex; align-items: center; justify-content: center; flex-direction: column;">
  <img src="{{ 'xe_tang_30_4.gif' | asset_url }}" alt="Kỷ niệm 30/4" style="max-width: 400px; width: 90%; height: auto; margin-bottom: 20px;">
  <h1 style="color: #aaa; font-size: 20px; text-align: center;">Cùng Him Lam Computer Chào Mừng 50 Năm Thống Nhất<br>Đất Nước 30/04/1975 - 30/04/2025</h1>
</div>-->

<script>
  document.addEventListener("DOMContentLoaded", function() {
    setTimeout(function() {
      document.getElementById('intro-screen').style.display = 'none';
    }, 3000); // 3000ms = 3 giây
  });
</script>

<h1 class="hidden">{{ shop.name }} - {{ shop.description }}</h1>
{% assign totalSections = 0 %}
{% assign countSection = 0 %}
{% for i in (1..17) %}
    {% capture enable %}home_section_{{ i }}{% endcapture %}
    {% if settings[enable] and settings[enable] != 'none' %}
		{% assign countSection = countSection | plus: 1 %}
            {% include settings[enable] %}
    {% endif %}
{% endfor %}

